<%- include("partials/header"); -%>
<div class="container-img">
  <div class="row">
    <div class="col-md-6">
      <h1>Contatti</h1>
      <p>
        Seconda stella a destra, questo è il cammino <br />
        E poi dritto fino al mattino <br />
        Poi la strada la trovi da te <br />
        Porta all'isola che non c'è
      </p>
      <em>Anonimo sognatore</em>
    </div>
    <img class="img-fluid" src="./images/piccolo-principe.webp" alt="" />
  </div>
</div>
<%- include("partials/footer"); -%>
