<%- include("partials/header"); -%>
<div class="row">
  <div class="col-lg-6 col-md-6">
    <h1>Il progetto</h1>
    <p>
      In un mondo in cui tutti parlano e nessuno ascolta, a volte è difficile
      trovare qualcuno con cui confidarsi. <br />
      Questo sito nasce per rispondere all'esigenza di tutte quelle persone che
      sentono di avere qualcosa da dire ma non sanno a chi rivolgersi. <br />
      Lasciate qui i vostri pensieri e permettete che siano loro a trovare la
      persona a cui sono destinati
    </p>
  </div>
  <img class="img-fluid" src="./images/paper-boat.png" alt="barca di carta" />
</div>
<%- include("partials/footer"); -%>
